.menu2 {
    margin-top: 50px;
    margin-left: -20px;
}
.titleMenu {
    margin-left: 40px;
    color: rgb(71, 73, 90);
}

.child_menu {
    list-style-type: none;
    font-size: 15px;
    margin-top: 20px;
    color: rgb(131, 131, 147);
}
.child_menu:hover {
    color: aliceblue;
}

.favouriteIcon {
    margin-right: 10px;
}
